.main{
    width: 1000px;
    margin: 20px auto;
}
/* 导航 */
.position {
    font-size:12px;
    padding: 10px 0;
    color:#bfbfbf
}
.position a{
    color:#666;
}
.position a:last-of-type{
    color:skyblue;
}
/* 分类列表 */
.osm-bar{
    display: flex;
    position: relative;
}
.osm-bar .osm-ul{
    display: flex;
    flex-wrap: wrap;
    width: 840px;
}
.osm-bar .osm-ul li{
    width: 64px;
    height: 24px;
    padding: 6px 20px 5px 0;
    margin: 10px 0 -1px;
    border-bottom: #ededed solid 1px;
    text-align: center;
}
.osm-bar .osm-ul li a{
    font-size: 13px;
    color: #333;
}
.osm-bar .osm-ul .new a{
    display: inline-block;
    padding-left: 35px;
    line-height: 24px;
    background: url(../img/new.png) no-repeat;
}
.osm-bar .osm-ul li:hover{
    border-bottom: #333 solid 1px;
}
/* 子导航 */
.osm-bar .osm-ul .listChild{
    width: 1000px;
    height: 100px;
    background-color: white;
    padding: 5px;
    position: absolute;
    top: 0px;
    display: none;
    z-index: 998;
}
.osm-bar .osm-ul .listChild a{
    display: inline-block;
    line-height: 50px;
    flex-wrap: wrap;
    margin: 0 10px;
    font-size: 13px;
    color: #666;
}

/* 价格下拉框 */
.osm-price {
    /* width: 142px; */
    height: 24px;
    margin: 10px 0 0 ;
    padding: 7px 18px 4px 55px;
    text-align: right;
    border-bottom: 1px solid #ededed;
    position: relative;
    font-size: 13px;
    z-index: 999;
}
.osm-price span{
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-left: 3px;
    background: url(../img/price.png) no-repeat;
}
@keyframes spin {
	to{
		rotate: 180deg;
	}
}
.osm-price:hover span{
    animation: spin .5s linear forwards;
}
/* 价格 */
.osm-price .price-list{
    position: absolute;
    top: 35px; right: 0;
    width: 95px;
    border: 1px solid #ededed;
    background: #fff;
    text-align: left;
    display: none;
}
.osm-price:hover .price-list{
    display: block;
}
.osm-price .price-list a{
    display: inline-block;
    width: 75px;
    padding: 10px;
    color: #333;
    border-bottom: 1px solid #ededed;
}
.osm-price .price-list li:hover a{
    background: #333;
    color: white;
}

/* 商品列表 */
.good{
    width: 1000px;
    margin: 30px auto 30px;
}
.good .good-list{
    display: flex;
    justify-content: space-between ;
    flex-wrap: wrap;
}
.good .good-list li{
    width: 317px;
    height: 367px;
    margin: 0 0 24px 0;
    position: relative;
}
.good .good-list li img{
    width: 316px;
    height: 316px;
}
.good .good-list li .bar{
    width: 316px;
    height: 40px;
    margin: 10px 0 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.good .good-list li .store{
    line-height: 27px;
}
.good .good-list li .store img{
    width: 27px;
    height: 27px;
}
.good-list li .like{
    font-size: 13px;
    line-height: 16px;
}
.good-list li .like div{
    float: right;
    margin-left: 8px;
    width: 18px;
    height: 16px;
    background: url(../img/icon.png) no-repeat  0px -610px;
}

/* 鼠标浮动的名字页 */
.good-list li .goods-name {
    width: 296px;
    height: 296px;
    position: absolute;
    top: 0px;
    left: 0;
    background-color: rgba(0, 0, 0, .7);
    padding: 10px;
    display: none;
}
.good-list li .goods-name p:nth-child(1){
    color: #0c6aa5;
    font-weight: 600;
    font-size: 18px;
    font-style: italic;
    margin-bottom: 100px;
}
.good-list li .goods-name p:nth-child(2){
    line-height: 28px;
    font-size: 14px;
    font-weight: 600;
    color: white;
    text-align: center;
}
.good-list li .goods-name p:nth-child(3){
    font-size: 15px;
    color: white;
    text-align: center;
    /* 设置文本不换行 */
	text-wrap: nowrap;
	/* 设置溢出隐藏*/
	overflow: hidden; 
	/* 文本溢出隐藏的形式 省略号 */
	text-overflow: ellipsis;
}
.good .good-list li .goods:hover .goods-name{
    display: block;
}



.pager{
    text-align: right;
    font-size: 12px;
}
.pager *{
    display: inline-block;
    padding: 0px 5px;
    margin: 0px 3px;
    vertical-align: middle;
    color: #878787;
    font-size: 12px;
}
.pager span{
    color: #fff;
    background-color: #0c6aa5;
    border-radius: 3px;
}
.pager .jump-ipt{
    width: 30px;
}
.pager .jump-ipt:focus {
    outline: none;
}
