/* 商品列表 */
.good {
    width: 1000px;
    margin: 30px auto 30px;
}

.good .good-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.good .good-list li {
    width: 317px;
    height: 367px;
    margin: 0 0 24px 0;
    position: relative;
}

.good .good-list li img {
    width: 316px;
    height: 316px;
}

.good .good-list li .bar {
    width: 316px;
    height: 40px;
    margin: 10px 0 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.good .good-list li .store {
    line-height: 27px;
}

.good .good-list li .store img {
    width: 27px;
    height: 27px;
}

.good-list li .like {
    font-size: 13px;
    line-height: 16px;
}

.good-list li .like div {
    float: right;
    margin-left: 8px;
    width: 18px;
    height: 16px;
    background: url(../img/icon.png) no-repeat ;
    background-position:0px -610px ;
}

/* 鼠标浮动的名字页 */
.good-list li .goods-name {
    width: 296px;
    height: 296px;
    position: absolute;
    top: 0px;
    left: 0;
    background-color: rgba(0, 0, 0, .7);
    padding: 10px;
    display: none;
}

.good-list li .goods-name p:nth-child(1) {
    color: #0c6aa5;
    font-weight: 600;
    font-size: 18px;
    font-style: italic;
    margin-bottom: 100px;
}

.good-list li .goods-name p:nth-child(2) {
    line-height: 28px;
    font-size: 14px;
    font-weight: 600;
    color: white;
    text-align: center;
}

.good-list li .goods-name p:nth-child(3) {
    font-size: 15px;
    color: white;
    text-align: center;
    /* 设置文本不换行 */
    text-wrap: nowrap;
    /* 设置溢出隐藏*/
    overflow: hidden;
    /* 文本溢出隐藏的形式 省略号 */
    text-overflow: ellipsis;
}

.good .good-list li .goods:hover .goods-name {
    display: block;
}