*{margin: 0 ;padding: 0;}
a{text-decoration: none;}
li{list-style: none;}
img{vertical-align: bottom;}



.main{
    width: 300px;
    margin: 20px auto 0;
}


table {
    border-spacing: 0 20px; /* 设置行间距为10px */
}

.logo {
    height: 300px; /* 设置行高 */
}

.logo td {
    text-align: center;
    vertical-align: middle; 
    height: 300px;
}

input {
    font-size: 18px;
    line-height: 27px;
    width: 264px;
    border:none;
    margin-bottom: 5px;
}

input:focus {
    outline: none;
}

/* 手机号 */
.phone td{
    width: 264px;
    padding-left: 36px;
    background: url(../img/login/phone-number.png) no-repeat;
    border-bottom: 1px solid black;
}

/* 密码 */
.verification-code td{
    width: 264px;
    padding-left: 36px;
    background: url(../img/login/verification-code.png) no-repeat 0 3px;
    border-bottom: 1px solid black;
}


/* 登录 */
.login td{
    height: 50px;
    background-color: black;
    text-align: center;
}
.login td a{
    display: block; /* 使链接成为块级元素 */
    height: 100%;
    width: 100%;
    line-height: 50px;
    color: white;
}

/* 其他方式登录 */
.more-login td{
    text-align: center;
}
.more-login td a{
    color: black;
}