*{margin: 0 ;padding: 0;}
a{text-decoration: none;}
li{list-style: none;}
img{vertical-align: bottom;}

body{
    background-color: #999999;
}

.main{
    width: 1000px;
    margin: 50px auto 0;
}
table {
    border-spacing: 0 20px; /* 设置行间距为10px */
    margin: 0 auto;
}

/* logo */
.logo {
    height: 160px; /* 设置行高 */
}

.logo td {
    width: 600px;
    text-align: center; /* 水平居中 */
    vertical-align: middle; /* 垂直居中 */
    height: 160px; /* 确保单元格高度为300px */
}

/* 登录、验证码、创建密码、确认密码 */
th{
    text-align: left;
    color: white;
    font-size: 14px;
}
/* 输入框设置 */
[type="text"],[type="password"]{
    font-size: 14px;
    height: 50px;
    background-color: #cbcbcb;
    border:none;
    padding:0 10px;
}
input::placeholder {
    color:white; /* 修改提示文本的颜色 */
}
input:focus {
    outline: none;
}
.phone input,.password input,.re-password input{
    width: 280px;
}

tr>:nth-child(2){
    width: 300px;
    position: relative;
}

.username-msg, .code-msg, .password-msg, .confirm-msg{
	font-size: 12px;
	color: red;
    position: absolute;
	left: 0px;
	top: 52px;
	display: none;
}

/* 验证码栏 */
.code :nth-child(2){
    display: flex;
    align-items: center;
}
.code .codeimg{
    width: 124px;
    height: 28px;
    margin-left: 30px;
    border: 1px solid black;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
}
.code .change{
    margin-left: 10px;
    color: white;
    font-size: 14px;
    -webkit-user-select: none;
}

/* 创建密码栏 */
.password .pwd-strength{
    position: relative;
    background-color: aliceblue;
    width: 127px;
    height: 12px;
    border: 1px solid rebeccapurple;
    margin: 0 auto;
}
.password .pwd-strength>span{
    float: left;
    width: 33.3%;
    height: 12px;
}
.password .strengthTitle{
    position: absolute;
    top: 12px;
    display: flex;
    justify-content: space-between;
    width: 127px;
    font-size: 12px;
    color: #cbcbcb;
}


/* 同意条款 */
.cheak {
    font-size: 12px;
}
.cheak a{
    font-size: 12px;
    color: #0c79cc;
}

/* 登录 */
.regist :nth-child(2){
    height: 50px;
    background-color: black;
    text-align: center;
}
.regist :nth-child(2) a{
    display: block; /* 使链接成为块级元素 */
    height: 100%;
    width: 100%;
    line-height: 50px;
    color: white;
}

.more-regist .more{
    display: flex;
    justify-content: space-between;
}
.more-regist .a-list{
	display: flex;
}

.more-regist .a-list li div{
	margin-right: 10px;
	width: 25px;
	height: 22px;
}
/* 鼠标移入改变背景 */
.more-regist .a-list li .qq{
	background: url(../img/register/qq.png);
}
.more-regist .a-list li .weibo{
	background: url(../img/register/weibo.png);
}
.more-regist .a-list li .douban{
	background: url(../img/register/douban.png);
}
.more-regist .a-list li .qqwb{
	background: url(../img/register/txwb.png) ;
}

.more-regist .a-list li:hover div{
	opacity: .7;
}

.more-regist .more a{
    color: white;
    text-decoration:underline;
}
